<div class="ontainer">

<div class ="row">
<div class = "col">
<h1 class="text-center"> {{title}} </h1>

<form method="post" action=""/login/usuario">
<input name="usuario" type ="text"
class ="from-control"
placeholder="usuario">

<input name=""password" type="password"
class= "from-control mt-4" 
placeholder= "*****">

<button type="submit" class="btn-btn-primary"> Ingrese</button> 
</form>
{{mensaje}}
</div>
</div>
</div>

