<h1>Bienvenido a las promociones </h1>
<table>

    <tr>
        <td> ID_promociones</td>
        <td> Titulo</td>
        <td> Descripcion</td>
        <td> Codigo</td>



    </tr>

    {{#each dato}}
    <tr>
        <td> {{id_promociones}} </td>
        <td> {{titulo}} </td>
        <td> {{descripcion}} </td>
        <td> {{codigo}} </td>


    </tr>
    {{/each}}


</table>