<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="POST" action="/1">
    

    <h5>nombre de usuario</h5>
    <input type="text" name="nombreUsuario" id="nombreUsuario">

    <h5>Password</h5>
    <input type="password" name="password" id="password">

    <h5>Confirmado</h5>
    <input type="text" name="confirmado" id="confirmado">

    <h5>estado</h5>
    <input type="text" name="estado" id="estado">

    <button type="submit">Ingresar datos</button>



</form>