

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Password</th>
            <th scope="col">confirmado</th>
            <th scope="col">estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
       
    </tbody>
</table>

