{{!-- cuando subimos un file siempre tiene que ser method= POST, tambien tenemos que agregar enctype="multipart/form-data" --}}
<form method="post" action="/upload/new" enctype="multipart/form-data">
	<input type="file" name="foto">
	<button type="submit">Subir Foto</button>
	

</form>
{{title}}
